.row    {
    text-align: center;
}

.card {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #333;
    cursor: pointer;
}

.card.done {
    cursor: default;
}

.card.done:hover {
    cursor: default;
    box-shadow: none;
}

.card:hover {
    box-shadow: inset 0px 0px 0px 1px redS;
    box-sizing: border-box;
}

[data-color="red"] {
    background-color: red;
}

[data-color="green"] {
    background-color: green;
}

[data-color="blue"] {
    background-color: blue;
}

[data-color="orange"] {
    background-color: orange;
}

[data-color="pink"] {
    background-color: pink;
}

[data-color="cyan"] {
    background-color: cyan;
}

[data-color="yellow"] {
    background-color: yellow;
}

[data-color="purple"] {
    background-color: purple;
}

.color-hidden {
    background-color: #333;
}